<a href="https://colab.research.google.com/github/LatiefDataVisionary/pandas-with-indonesia-belajar/blob/main/Pandas_42_Mengurutkan_data_kolom_pada_Data_Frame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Pandas 42: Mengurutkan data kolom pada Data Frame | Python Pandas | Belajar Data Science**

In [ ]:
import pandas as pd
import numpy as np

Persiapan DataFrame