<a href="https://colab.research.google.com/github/LatiefDataVisionary/pandas-with-indonesia-belajar/blob/main/Pandas_56_Mengeluarkan_kolom_dari_Data_Frame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Pandas 56: Mengeluarkan kolom dari Data Frame | Python Pandas | Belajar Data Science | Indonesia**

In [ ]:
import pandas as pd
import numpy as np

Persiapan DataFrame